@import "tailwindcss";

@theme{
  --color-red-1: #191111;
  --color-red-2: #201314;
  --color-red-3: #3B1219;
  --color-red-4: #500F1C;
  --color-red-5: #611623;
  --color-red-6: #72232D;
  --color-red-7: #8C333A;
  --color-red-8: #B54548;
  --color-red-9: #E5484D;
  --color-red-10: #EC5D5E;
  --color-red-11: #FF9592;
  --color-red-12: #FFD1D9;
}